<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.SysUserinfoMapper">
  <resultMap id="BaseResultMap" type="entity.SysUserinfo">
    <id column="sys_userid" jdbcType="VARCHAR" property="sysUserid" />
    <result column="sys_username" jdbcType="VARCHAR" property="sysUsername" />
    <result column="sys_sex" jdbcType="CHAR" property="sysSex" />
    <result column="sys_age" jdbcType="INTEGER" property="sysAge" />
    <result column="sys_language" jdbcType="VARCHAR" property="sysLanguage" />
    <result column="sys_profession" jdbcType="VARCHAR" property="sysProfession" />
    <result column="sys_name" jdbcType="VARCHAR" property="sysName" />
  </resultMap>
  <sql id="Base_Column_List">
    sys_userid, sys_username, sys_sex, sys_age, sys_language, sys_profession, sys_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_userinfo
    where sys_userid = #{sysUserid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_userinfo
    where sys_userid = #{sysUserid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="entity.SysUserinfo">
    insert into sys_userinfo (sys_userid, sys_username, sys_sex, 
      sys_age, sys_language, sys_profession, 
      sys_name)
    values (#{sysUserid,jdbcType=VARCHAR}, #{sysUsername,jdbcType=VARCHAR}, #{sysSex,jdbcType=CHAR}, 
      #{sysAge,jdbcType=INTEGER}, #{sysLanguage,jdbcType=VARCHAR}, #{sysProfession,jdbcType=VARCHAR}, 
      #{sysName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.SysUserinfo">
    insert into sys_userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysUserid != null">
        sys_userid,
      </if>
      <if test="sysUsername != null">
        sys_username,
      </if>
      <if test="sysSex != null">
        sys_sex,
      </if>
      <if test="sysAge != null">
        sys_age,
      </if>
      <if test="sysLanguage != null">
        sys_language,
      </if>
      <if test="sysProfession != null">
        sys_profession,
      </if>
      <if test="sysName != null">
        sys_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysUserid != null">
        #{sysUserid,jdbcType=VARCHAR},
      </if>
      <if test="sysUsername != null">
        #{sysUsername,jdbcType=VARCHAR},
      </if>
      <if test="sysSex != null">
        #{sysSex,jdbcType=CHAR},
      </if>
      <if test="sysAge != null">
        #{sysAge,jdbcType=INTEGER},
      </if>
      <if test="sysLanguage != null">
        #{sysLanguage,jdbcType=VARCHAR},
      </if>
      <if test="sysProfession != null">
        #{sysProfession,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null">
        #{sysName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.SysUserinfo">
    update sys_userinfo
    <set>
      <if test="sysUsername != null">
        sys_username = #{sysUsername,jdbcType=VARCHAR},
      </if>
      <if test="sysSex != null">
        sys_sex = #{sysSex,jdbcType=CHAR},
      </if>
      <if test="sysAge != null">
        sys_age = #{sysAge,jdbcType=INTEGER},
      </if>
      <if test="sysLanguage != null">
        sys_language = #{sysLanguage,jdbcType=VARCHAR},
      </if>
      <if test="sysProfession != null">
        sys_profession = #{sysProfession,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null">
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
    </set>
    where sys_userid = #{sysUserid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.SysUserinfo">
    update sys_userinfo
    set sys_username = #{sysUsername,jdbcType=VARCHAR},
      sys_sex = #{sysSex,jdbcType=CHAR},
      sys_age = #{sysAge,jdbcType=INTEGER},
      sys_language = #{sysLanguage,jdbcType=VARCHAR},
      sys_profession = #{sysProfession,jdbcType=VARCHAR},
      sys_name = #{sysName,jdbcType=VARCHAR}
    where sys_userid = #{sysUserid,jdbcType=VARCHAR}
  </update>
</mapper>